<!doctype html>
<html>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}">
	<style type="text/css">
	</style>
	<body>
	<img src="/static/KeyBank_logo.png" style="width:230px;height:50px;">
	<a><h2>Tweets</h2></a>
	<table border="1">
	<tr>
		<th>ID</th>
		<th>Tweet</th>
		{% for tone in tones %}
			<th>{{tone}}</th>
		{% endfor %}
	</tr>
	{% for k in range(0,tweetLen) %}
	<tr>
		<td><a href={{tweetObjsArray[k].url}} target="_blank"/>{{tweetObjsArray[k].username}}</td>
		<td>{{tweetObjsArray[k].tweet}}</td>
		{% for tonelen in range(0,toneLen) %}
			<td>{{toneCategoryArray[k][tonelen]}}</td>
		{% endfor %}		
	</tr>
	{% endfor %}
	</body>
</html>
